# For local development, use:
# NEXT_PUBLIC_BE_URL=http://localhost:5000
# NEXTAUTH_URL=http://localhost:3000

# For production, use:
NEXT_PUBLIC_BE_URL=https://backend.editdeckpro.com
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=0d4eeb48408762e3f4d789cf921d4161