NEXT_PUBLIC_BE_URL=https://backend.editdeckpro.com # this will be the actual backend-end url
NEXTAUTH_URL=http://localhost:3000 # this will be the actual front-end url
NEXTAUTH_SECRET=0d4eeb48408762e3f4d789cf921d4161